@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Roboto:wght@400;700&display=swap");
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 800;
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  font-size: 16px;
}

a:hover, a:focus {
  text-decoration: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.ms-3 {
  margin-left: 1rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.navbar {
  background: -webkit-gradient(linear, left top, right top, from(#02a7ff), to(#18b6ff));
  background: linear-gradient(90deg, #02a7ff 0%, #18b6ff 100%);
  padding: 2rem 0;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: -1px;
  border-radius: 0;
  border: 0;
}

.navbar .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand img {
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 9rem;
  color: #444B8C;
}

p {
  color: rgba(13, 20, 90, 0.7);
}

.hero {
  background: -webkit-gradient(linear, left top, right top, from(#02a7ff), to(#18b6ff));
  background: linear-gradient(90deg, #02a7ff 0%, #18b6ff 100%);
}

.hero .hero-main {
  padding: 10rem 4rem;
  color: white;
}

.hero .hero-main .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-main .hero-image {
  padding-left: 2rem;
}

.hero .hero-main .hero-image img {
  width: 100%;
}

.hero .hero-main .hero-items {
  margin-bottom: 5rem;
}

.hero .hero-main .hero-items .hero-item {
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-main .hero-items .hero-item h3 {
  font-weight: 400;
  font-size: 22px;
}

.hero .hero-main .btn-hero {
  background: -webkit-gradient(linear, left top, right top, from(#ff9e37), to(#ff8402));
  background: linear-gradient(90deg, #ff9e37 0%, #ff8402 100%);
  color: white;
  padding: 20px 2rem;
  border-radius: 10px;
  font-size: 20px;
}

.packages {
  padding: 9rem 0;
}

.packages .container {
  padding: 0 4rem;
}

.packages .container.selection {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7rem;
}

.packages .container.selection .nav-tabs {
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F1F7FF;
  border-radius: 35px;
  padding: 8px;
}

.packages .container.selection .nav-tabs > li > a {
  color: #444B8C;
  font-size: 24px;
  padding: 12px 34px;
  font-weight: 700;
  border-radius: 35px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.packages .container.selection .nav-tabs > li.active > a {
  background: #FF9E37;
  color: white;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.packages .container.selection .nav-tabs > li.hover > a {
  background: #F1F7FF;
}

.packages .container .package-card {
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 25px rgba(55, 141, 240, 0.2);
          box-shadow: 0px 0px 25px rgba(55, 141, 240, 0.2);
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: white;
}

.packages .container .package-card.bisnis .card-header {
  background: #02A7FF;
}

.packages .container .package-card.enterprise .card-header {
  background: #0085FF;
}

.packages .container .package-card .card-header {
  color: white;
  background: #47CCFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 2rem 4rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.packages .container .package-card .card-content {
  padding: 3rem;
}

.packages .container .package-card .card-content .price {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #444B8C;
  margin-bottom: 2rem;
  letter-spacing: -0.028em;
}

.packages .container .package-card .card-content .price span {
  font-size: 24px;
  font-weight: 400;
}

.packages .container .package-card .card-content .card-desc {
  font-size: 14px;
  color: #444B8C;
  margin-bottom: 4rem;
  text-align: center;
}

.packages .container .package-card .card-content .btn-order {
  color: white;
  background: #54C752;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.packages .container .package-card .card-content .card-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.packages .container .package-card .card-content .card-items .item .item-image {
  margin-right: 10px;
}

.packages-detail .brand {
  text-align: center;
  margin-bottom: 8rem;
}

.packages-detail .brand .brand-image {
  margin-bottom: 3rem;
}

.packages-detail .brand-table .header-top {
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.packages-detail .brand-table .header-top .header {
  background: #FFB156;
  color: white;
  padding: 1em 4em;
  border-radius: 10px 10px 0 0;
}

.packages-detail .brand-table .header-top .body {
  color: #444B8C;
  padding: 2rem;
}

.packages-detail .brand-table .header-top .body p {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}

.packages-detail .brand-table .header-top .body .name {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 26px;
}

.packages-detail .brand-table .header-top .body .price {
  font-size: 20px;
  margin-bottom: 2rem;
}

.packages-detail .brand-table .header-top .body .price span {
  font-size: 16px;
}

.packages-detail .brand-table .header-top .body .checkbox {
  margin-bottom: 16px;
}

.packages-detail .brand-table .header-top .body .btn-order {
  background-color: #54C752;
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
}

.warning {
  background: #293A8C;
}

.warning p {
  color: white;
}

.warning .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.25rem;
  color: white;
}

.warning .d-flex .warning-text {
  font-size: 18px;
}

.warning .d-flex .warning-image {
  margin: 0 1rem;
}

.about-ssl {
  background: #FAFCFF;
  padding: 9rem 0;
}

.about-ssl .container .about-ssl-main {
  margin: auto;
  width: 75%;
}

.about-ssl .container .about-ssl-main .title {
  margin-bottom: 5rem;
}

.about-ssl .container .about-ssl-main .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.about-ssl .container .about-ssl-main .items .item .item-image {
  margin-right: 2rem;
}

.about-ssl .container .about-ssl-main .items .item h4 {
  margin-top: 6px;
  color: #0D145A;
}

.ssl-type {
  padding: 9rem 0;
}

.ssl-type .title {
  margin-bottom: 12rem;
  color: #0D145A;
}

.ssl-type .item:not(:last-child) {
  margin-bottom: 20rem;
}

.ssl-type .item .item-image img {
  width: 100%;
}

.ssl-type .item .text-header {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #0D145A;
}

.ssl-type .item p {
  font-size: 18px;
}

.ssl-benefits {
  background: #FAFCFF;
  padding: 9rem 0;
}

.ssl-benefits .item {
  margin-bottom: 7rem;
}

.ssl-benefits .item .item-image {
  margin-bottom: 25px;
}

.ssl-benefits .item h4 {
  margin-bottom: 15px;
}

.faq {
  padding: 9rem 0;
}

.faq .faq-main {
  width: 95%;
  margin: auto;
}

.faq .accordion {
  -webkit-box-shadow: 0px 0px 20px rgba(46, 68, 149, 0.15);
          box-shadow: 0px 0px 20px rgba(46, 68, 149, 0.15);
  border-radius: 16px;
  padding: 3rem;
  padding-top: 0;
  margin-bottom: 3rem;
}

.faq .accordion .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #444B8C;
  padding-top: 3rem;
  cursor: pointer;
}

.faq .accordion .head .fa-chevron-down {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-size: 2rem;
}

.faq .accordion.active .fa-chevron-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.faq .accordion .content {
  padding: 3rem;
  padding-bottom: 0;
}

body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/*# sourceMappingURL=app.css.map */